header {
  position: fixed;
  text-align: center;
  color: rgb(161, 0, 0);
  z-index: 999;
  font-size: 80px;
  font-family: "Helvetica";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.backgroundText {
  opacity: 0.2;
  font-size: 60px;
}

#NYPL_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#rent_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#king_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#lion_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

#museum_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

#politician_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

#wifey_image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}
